.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  font-size: 24px;
  /* background-color: azure; */
  /* background-color: rgb(225, 237, 249); */
  background: linear-gradient(to left, lightblue, lightyellow, lightgreen);
  border: 2px solid rgba(135, 206, 250, 0.425);

  /* color: darkblue; */
  color: darkslateblue;
}
